Makefile
Makefile.common
config.log
config.status
debugger/mcs51/Makefile
debugger/mcs51/config.h
debugger/mcs51/config.log
debugger/mcs51/config.status
device/include/Makefile
device/lib/Makefile
device/lib/ds390/Makefile
device/lib/ds400/Makefile
device/lib/ez80_z80/Makefile
device/lib/gbz80/Makefile
device/lib/hc08/Makefile
device/lib/huge/Makefile
device/lib/large/Makefile
device/lib/mcs51/Makefile
device/lib/medium/Makefile
device/lib/pdk13/Makefile
device/lib/pdk14/Makefile
device/lib/pdk15-stack-auto/Makefile
device/lib/pdk15/Makefile
device/lib/pic14/.checkdevices/
device/lib/pic14/Makefile
device/lib/pic14/a.cod
device/lib/pic14/a.hex
device/lib/pic14/a.lst
device/lib/pic14/config.h
device/lib/pic14/config.log
device/lib/pic14/config.status
device/lib/pic14/libc/Makefile
device/lib/pic14/libm/Makefile
device/lib/pic14/libsdcc/enhanced-no-xinst/Makefile
device/lib/pic14/libsdcc/enhanced/Makefile
device/lib/pic14/libsdcc/regular/Makefile
device/lib/pic14/stamp-h1
device/lib/pic16/.checkdevices/
device/lib/pic16/Makefile
device/lib/pic16/a.cod
device/lib/pic16/a.hex
device/lib/pic16/a.lst
device/lib/pic16/config.h
device/lib/pic16/config.log
device/lib/pic16/config.status
device/lib/pic16/debug/.deps/
device/lib/pic16/debug/Makefile
device/lib/pic16/libc/.deps/
device/lib/pic16/libc/Makefile
device/lib/pic16/libio/.deps/
device/lib/pic16/libio/Makefile
device/lib/pic16/libm/.deps/
device/lib/pic16/libm/Makefile
device/lib/pic16/libsdcc/.deps/
device/lib/pic16/libsdcc/Makefile
device/lib/pic16/pics.supported
device/lib/pic16/stamp-h1
device/lib/pic16/startup/.deps/
device/lib/pic16/startup/Makefile
device/lib/r2k/Makefile
device/lib/r2ka/Makefile
device/lib/r3ka/Makefile
device/lib/s08/Makefile
device/lib/small/Makefile
device/lib/stm8-large/Makefile
device/lib/stm8/Makefile
device/lib/tlcs90/Makefile
device/lib/z180/Makefile
device/lib/z80/Makefile
device/lib/z80n/Makefile
device/non-free/include/Makefile
device/non-free/lib/Makefile
device/non-free/lib/pic14/.checkdevices/
device/non-free/lib/pic14/Makefile
device/non-free/lib/pic14/Makefile.common
device/non-free/lib/pic14/a.cod
device/non-free/lib/pic14/a.hex
device/non-free/lib/pic14/a.lst
device/non-free/lib/pic14/config.log
device/non-free/lib/pic14/config.status
device/non-free/lib/pic14/libdev/Makefile
device/non-free/lib/pic14/pics.supported
device/non-free/lib/pic16/.checkdevices/
device/non-free/lib/pic16/Makefile
device/non-free/lib/pic16/a.cod
device/non-free/lib/pic16/a.hex
device/non-free/lib/pic16/a.lst
device/non-free/lib/pic16/config.h
device/non-free/lib/pic16/config.log
device/non-free/lib/pic16/config.status
device/non-free/lib/pic16/libdev/.deps/
device/non-free/lib/pic16/libdev/Makefile
device/non-free/lib/pic16/pics.supported
device/non-free/lib/pic16/stamp-h1
doc/Makefile
main.mk
ports.all
ports.build
sdas/as6808/Makefile
sdas/as8051/Makefile
sdas/as8xcxxx/Makefile
sdas/asgb/Makefile
sdas/aspdk13/Makefile
sdas/aspdk14/Makefile
sdas/aspdk15/Makefile
sdas/asrab/Makefile
sdas/asstm8/Makefile
sdas/astlcs90/Makefile
sdas/asz80/Makefile
sdas/linksrc/Makefile
sdas/linksrc/asxxxx_config.h
sdccconf.h
sim/ucsim/Makefile
sim/ucsim/avr.src/Makefile
sim/ucsim/cmd.src/Makefile
sim/ucsim/config.log
sim/ucsim/config.status
sim/ucsim/ddconfig.h
sim/ucsim/doc/Makefile
sim/ucsim/gui.src/Makefile
sim/ucsim/gui.src/serio.src/Makefile
sim/ucsim/hc08.src/Makefile
sim/ucsim/libtool
sim/ucsim/m6809.src/Makefile
sim/ucsim/main.mk
sim/ucsim/p1516.src/Makefile
sim/ucsim/packages.mk
sim/ucsim/pdk.src/Makefile
sim/ucsim/s51.src/Makefile
sim/ucsim/sim.src/Makefile
sim/ucsim/st7.src/Makefile
sim/ucsim/stm8.src/Makefile
sim/ucsim/tlcs.src/Makefile
sim/ucsim/xa.src/Makefile
sim/ucsim/z80.src/Makefile
src/Makefile
src/ds390/Makefile
src/hc08/Makefile
src/mcs51/Makefile
src/pdk/Makefile
src/pic14/Makefile
src/pic16/Makefile
src/stm8/Makefile
src/z80/Makefile
support/cpp/Makefile
support/cpp/auto-host.h
support/cpp/config.log
support/cpp/config.status
support/makebin/Makefile
support/packihx/Makefile
support/packihx/config.h
support/packihx/config.log
support/packihx/config.status
support/regression/Makefile
support/regression/ports/host/spec.mk
support/scripts/Makefile
support/sdbinutils/Makefile
support/sdbinutils/config.log
support/sdbinutils/config.status
support/sdbinutils/serdep.tmp
support/valdiag/Makefile
